<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v=1.0">

</head>

<body>
    <div class="top-bar">
        <span class="menu-icon" onclick="toggleNav()">&#9776;</span>
        <div class="user-info">
            {% if session.get('username') %}
                <span>Bienvenido, {{ session['username'] }}</span>
            {% endif %}
        </div>
    </div>

    <div id="mySidebar" class="sidebar">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('projects') }}">Proyectos</a>
        <a href="{{ url_for('lenguages') }}">Lenguajes</a>
        <a href="{{ url_for('mapa') }}">Mapa del sitio</a>
        <a href="{{ url_for('contact') }}">Contacto</a>
        <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </div>
    
    <script>
        function toggleNav() {
            var sidebar = document.getElementById("mySidebar");
            var sidebarWidth = sidebar.style.width;
    
            if (sidebarWidth === "250px") {
                sidebar.style.width = "0"; 
            } else {
                sidebar.style.width = "250px"; 
            }
        }
    </script>
     
    <div class="project-card2">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Mapa del sitio</h1>
        <br>
        <img src="{{ url_for('static', filename='images/mapa.jpg') }}">

    </div>


</body>